#!/usr/bin/make -f

#export DH_VERBOSE=1
p_name=python-sqlalchemy
m_name=SQLAlchemy

PYVERS=$(shell pyversions -vr)
PKGDIR=$(CURDIR)/debian/${p_name}
#-include /usr/share/python/python.mk # for py_setup_install_args (ignore if not available yet)

clean:
	dh_testdir
	dh_testroot
	rm -rf $(CURDIR)/lib/${m_name}.egg-info $(CURDIR)/build/
	find . -name '*\.py[co]' -delete
	dh_clean build-docs build-stamp install-docs \
		$(PYVERS:%=install-python%) $(PYVERS:%=build-python%) \
		$(PYVERS:%=install-debug-python%) $(PYVERS:%=build-debug-python%)

build: build-stamp

build-stamp: $(PYVERS:%=build-python%)
	touch $@

build-python%:
	python$* ./setup.py --with-cextensions build
	touch $@

build-debug-python%:
	python$*-dbg setup.py --with-cextensions build
	touch $@

build-docs:
	dh_testdir
	dh_installdirs -i
	cd doc/build && sphinx-build -N -q -E -b html . \
	 $(PKGDIR)-doc/usr/share/doc/${p_name}-doc/html/
	rm -rf $(PKGDIR)-doc/usr/share/doc/${p_name}-doc/html/.doctrees
	touch $@

install-docs: build-docs
	dh_testdir
	dh_installdirs -i
	
	dh_link -p${p_name}-doc /usr/share/doc/${p_name}-doc/html/_sources \
	       	/usr/share/doc/${p_name}-doc/rst
	dh_link -p${p_name}-doc /usr/share/javascript/jquery/jquery.js \
		/usr/share/doc/${p_name}-doc/html/_static/jquery.js
	# link docs in python-sqlalchemy's dir
	dh_link -p${p_name}-doc /usr/share/doc/${p_name}-doc/html \
		/usr/share/doc/${p_name}/html
	dh_link -p${p_name}-doc /usr/share/doc/${p_name}-doc/rst \
		/usr/share/doc/${p_name}/rst
	touch $@

install: build $(PYVERS:%=install-python%)
install-python%: build
	#python$* ./setup.py install --skip-build \
	#	--root $(PKGDIR) $(py_setup_install_args)
	#touch $@
	mkdir -p $(PKGDIR)-ext/usr/lib/python$*/site-packages/sqlalchemy
	mv $(CURDIR)/build/lib.*-$*/sqlalchemy/*.so \
	 $(PKGDIR)-ext/usr/lib/python$*/site-packages/sqlalchemy/
	# hack to workaround distutils/setuptools bug:
	mkdir -p $(PKGDIR)/usr/lib/python$*/site-packages/
	cp -R $(CURDIR)/build/lib.*-$*/* $(PKGDIR)/usr/lib/python$*/site-packages/

binary-indep: build install install-docs
	dh_testdir -i
	dh_testroot -i
	dh_installchangelogs -i -p python-sqlalchemy-doc CHANGES
	dh_installchangelogs -i
	dh_installdocs -i
	dh_installexamples -i
	rm -rf $(PKGDIR)-doc/usr/share/doc/${p_name}-doc/doc/build \
	       $(PKGDIR)-doc/usr/share/doc/${p_name}-doc/examples/README
	dh_pysupport -i
	dh_compress -i -X.py -X.js -X.html
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i -- -Z bzip2

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs -a
	dh_installdocs -a
	dh_pysupport -a
	dh_makeshlibs -a
	dh_strip -a
	dh_compress -a -X.py
	dh_fixperms -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a -- -Z bzip2

binary: binary-indep binary-arch

get-orig-source:
	REV=$(shell dpkg-parsechangelog | sed -rne 's,^Version: .*svn([^-]+).*,\1,p'); \
	VER=$(shell dpkg-parsechangelog | sed -rne 's,^Version: ([^-]+).*,\1,p'); \
	if [ x$$REV = x ]; then \
	 uscan --noconf --force-download --rename --download-version=$$VER --destdir=.; \
	else \
	 svn -q export -r $$REV http://svn.sqlalchemy.org/sqlalchemy/trunk sqlalchemy-r$$REV && \
         tar -zcf ./sqlalchemy_$$VER.orig.tar.gz sqlalchemy-r$$REV; \
	 rm -rf sqlalchemy-r$$REV; \
	fi

.PHONY: build clean binary-indep binary-arch binary install get-orig-source
