#!/usr/bin/make -f

DEB_PYTHON_SYSTEM := pycentral

include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

DEB_PYTHON_INSTALL_ARGS_ALL += --single-version-externally-managed
DEB_COMPRESS_EXCLUDE := .py
DEB_DESTDIR = $(CURDIR)/debian/python-sqlalchemy

PYVER=$(shell pyversions -vd)

clean::
	-rm -rf lib/SQLAlchemy.egg-info build/

binary-post-install/python-sqlalchemy::
	mv debian/python-sqlalchemy/usr/share/pycentral/python-sqlalchemy/site-packages/SQLAlchemy-${DEB_UPSTREAM_VERSION}-py${PYVER}.egg-info \
	   debian/python-sqlalchemy/usr/share/pycentral/python-sqlalchemy/site-packages/SQLAlchemy-${DEB_UPSTREAM_VERSION}.egg-info

binary-post-install/python-sqlalchemy-doc::
	rm -rf debian/python-sqlalchemy-doc/usr/share/doc/python-sqlalchemy-doc/doc/build \
	       debian/python-sqlalchemy-doc/usr/share/doc/python-sqlalchemy-doc/examples/README
