#!/usr/bin/make -f

#export DH_VERBOSE=1
p_name=python-sqlalchemy
m_name=SQLAlchemy

PYVERS=$(shell pyversions -vr)


clean:
	dh_testdir
	dh_testroot
	rm -rf $(CURDIR)/lib/${m_name}.egg-info $(CURDIR)/build/
	find . -name '*\.py[co]' -delete
	dh_clean build-* $(PYVERS:%=install-python%) install-docs

#build: build-docs
build:

build-docs:
	dh_testdir
	dh_installdirs
	PYTHONPATH=. sphinx-build -N -q -E -b html doc/build/ \
	 $(CURDIR)/debian/${p_name}-doc/usr/share/doc/${p_name}-doc/html/
	rm -rf $(CURDIR)/debian/${p_name}-doc/usr/share/doc/${p_name}-doc/html/.doctrees
	touch $@

#install-docs: build-docs
install-docs:
	dh_testdir
	dh_installdirs
	
	# TODO: use build-docs rule instead (once Sphinx 0.6 will be released):
	dh_install -p${p_name}-doc doc/* \
		--exclude=doc/build --exclude=doc/_sources \
		/usr/share/doc/${p_name}-doc/html/
	
	dh_install -p${p_name}-doc doc/_sources/* \
	       	/usr/share/doc/${p_name}-doc/rst
	dh_link -p${p_name}-doc /usr/share/javascript/jquery/jquery.js \
		/usr/share/doc/${p_name}-doc/html/_static/jquery.js
	# link docs in python-sqlalchemy's dir
	dh_link -p${p_name}-doc /usr/share/doc/${p_name}-doc/html \
		/usr/share/doc/${p_name}/html
	dh_link -p${p_name}-doc /usr/share/doc/${p_name}-doc/rst \
		/usr/share/doc/${p_name}/rst
	touch $@

install: build install-docs $(PYVERS:%=install-python%)
install-python%:
	python$* setup.py install \
		--single-version-externally-managed \
		--root $(CURDIR)/debian/${p_name}
	touch $@

binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installchangelogs -i CHANGES
	dh_installdocs -i
	dh_installexamples -i
	rm -rf debian/${p_name}-doc/usr/share/doc/${p_name}-doc/doc/build \
	       debian/${p_name}-doc/usr/share/doc/${p_name}-doc/examples/README
	dh_pysupport -i
	dh_compress -i -X.py
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i -- -Z bzip2

binary-arch:

binary: binary-indep binary-arch

get-orig-source:
	REV=$(shell dpkg-parsechangelog | sed -rne 's,^Version: .*svn([^-]+).*,\1,p'); \
	VER=$(shell dpkg-parsechangelog | sed -rne 's,^Version: ([^-]+).*,\1,p'); \
	if [ x$$REV = x ]; then \
	 uscan --force-download --rename --download-version=$$VER --destdir=.; \
	else \
	 svn -q export -r $$REV http://svn.sqlalchemy.org/sqlalchemy/trunk sqlalchemy-r$$REV && \
         tar -zcf ./sqlalchemy_$$VER.orig.tar.gz sqlalchemy-r$$REV; \
	 rm -rf sqlalchemy-r$$REV; \
	fi

.PHONY: build clean binary-indep binary-arch binary install get-orig-source
